#terminal{
    height:calc(100vh - 50px);
    padding:20px;
    overflow-y:auto;
    font-size:16px;
    white-space:pre-wrap;
}

.line{
    display:flex;
    align-items:center;
    margin:4px 0;
}

.prompt{
    color:var(--purple-light);
    white-space:nowrap;
}

.input{
    flex:1;
    min-width:40px;

    background:transparent;
    border:none;
    outline:none;

    color:var(--text);

    font:inherit;

    caret-color:var(--purple-light);
}
